<%- include('./partials/header')-%>
    <form method="POST" action=/register/create">
    <div class="form-group">prenom</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="firstname">
      
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">nom</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="lastname">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">email</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">position</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="position">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">number</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="number">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">image</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="image">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">password</label>
        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="lastname">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<%- include('./partials/footer')-%>